# example of a .env file, used to store project environmental variables
DISCORD_BOT_TOKEN=

# ID of server bot will access (accepts 1 server ID)
DISCORD_GUILD_ID=

# channel where `presenceUpdate` event handler sends status messages to
DISCORD_USER_ACTIVITY_CHANNEL=